body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 18px;
width: 900px;
}

.tituloppal{
    font-size: 37px;
    line-height: 46px;
    font-family: 'Tahoma';
    color: black;
}

.titulosec{
    font-size: 25px;
    line-height: 38px;
    font-family: tahoma, Helvetica, sans-serif;
}

p{
    font-size: 18px;
    line-height: 27px;
    color: #333;
}

img{
    width: 50%;
    height: 100%;
}

li{
    color: #666;
    line-height: 2em;
}
